<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853428317217-2ldjftrvdo2vh3iu4tfqloicq4euc9gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853428317217-2ldjftrvdo2vh3iu4tfqloicq4euc9gr</string>
	<key>API_KEY</key>
	<string>AIzaSyBK3hozoyvuzfIp0TCxlMWdo6JrZYpz8hA</string>
	<key>GCM_SENDER_ID</key>
	<string>853428317217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningdart</string>
	<key>PROJECT_ID</key>
	<string>mynotes-dzl</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-dzl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853428317217:ios:958a3b3d164b3e15a90760</string>
</dict>
</plist>